---
layout: default
title: Blog
---

{% for post in site.posts %}
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% if post.image %}
  <div class="thumbnail-container">
      <a href="{{ site.github.url }}{{ post.url }}"><img {% if post.noshadow %}
                                                         style="box-shadow:none;"
                                                         {% endif %} src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
  </div>
  {% endif %}
  <p>
      {{ post.excerpt }}
      <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}
