<div class="project">
  <div id="{{ include.project.name }}">
      <h3>
        <a href="#{{ project.name }}">{{ project.name }}</a>
      </h3>
  </div>
    <span class="project-metadata">
        {% if include.project.date %}
            <span class="metadata-item">
                Made in {{ include.project.date }}
            </span>
        {% endif %}
        {% if include.project.blog %}
            <span class="metadata-item">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <a href="{{ include.project.blog }}">Blog Post</a>
            </span>
        {% endif %}
        {% if include.project.website %}
            <span class="metadata-item">
                <i class="fa fa-link" aria-hidden="true"></i>
                <a href="{{ include.project.website }}">Website</a>
            </span>
        {% endif %}
        {% if include.project.github %}
            <span class="metadata-item">
                <i class="fa fa-github" aria-hidden="true"></i>
                <a href="{{ include.project.github }}">GitHub</a>
            </span>
        {% endif %}
        {% if include.project.video %}
            <span class="metadata-item">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
                <a href="{{ include.project.video }}">Video</a>
            </span>
        {% endif %}
    </span>

  {% if include.project.image %}
    {% if include.project.imglink == "github" %}
        <a href="{{ include.project.github }}">
    {% elsif include.project.imglink == "website" %}
        <a href="{{ include.project.website }}">
    {% elsif include.project.imglink == "blog" %}
        <a href="{{ include.project.blog }}">
    {% elsif include.project.imglink == "video" %}
        <a href="{{ include.project.video }}">
    {% else %}
        <a href="/assets/img/projects/{{ include.project.image }}">
    {% endif %}
            <img src="/assets/img/projects/{{ include.project.image }}">
        </a>
  {% endif %}
  <p>
    {{ include.project.description }}
  </p>
</div>
