.project-metadata {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:0.8rem;
}

.metadata-item {
  padding-right: 10px;
}

h1{
  font-size: 3rem;
  line-height: 0.8;
}

h2 {
  font-size: 1.5 * 1.5 * 1rem;
}

h3 {
  font-size: 1.5 * 1rem;
}

h1, h2, h3, h4, h5, h6  {
  a {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #333;
}

h2 {
  margin-top: 4rem;
}

.project {
  h3 {
    margin: 0;
  }
  margin-bottom: 2rem;
  padding: 0px;
  list-style: none;
}

.caption {
    color: gray;
    font-size: 80%;
    text-align: center;
}

/* Make social icons colorful on hover everywhere */
.fa-envelope:hover {
    color: #f39c12;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-instagram:hover {
    color: #375989;
}

.fa-github:hover {
    color: #343434;
}

.fa-linkedin:hover {
    color: #0073a4;
}

.fa-medium:hover {
    color: #00AB6C;
}

.fa-facebook:hover {
    color: #3d5b99;
}
