.project-metadata {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:0.8rem;
}

.metadata-item {
  padding-right: 10px;
}

h1{
  font-size: 3rem;
}

h2 {
  font-size: 1.5 * 1.5 * 1rem;
}

h3 {
  font-size: 1.5 * 1rem;
}

h1, h2, h3, h4, h5, h6  {
  a { 
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #333;
}

#projects {
  h3 {
    margin: 0;
  }
}
