---
layout: default
---

<h1>
  {{ page.title }}
</h1>

<span class="post-date">
    Written on
    {% assign d = page.date | date: "%-d"  %}
    {{ page.date | date: "%B" }}
    {% case d %}
    <!--One nasty line ensures there's no space between the day and the comma-->
    {% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
    {{ page.date | date: "%Y" }}
    - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}
    {% if page.draft %} - Draft (unlisted) {% endif %}</span>
</span>

{% if page.image.feature %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image.feature }}">
{% endif %}

{{ content }}

{% include social-sharing.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
